.body {
    display: grid;
    background-color: rgb(170, 175, 180)
}
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* height: 50px; */
    font-size: 200%;
    background-color: rgb(136, 203, 221);
    /* color: rgb(182, 182, 219); */
}
.navbar > .item > .label {
    font-size: 70%;
}
.weather  {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    /* background-color: aliceblue; */
    background-color: blanchedalmond;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: 
    "a b c ";
    /* padding: 10px 10px; */
    /* grid-auto-rows: 200px; */
}
.w-icon {
    grid-area: a;
    background-color: aqua;
    /* align-self: stretch; */
    align-self: end;
    font-size: 300%;
}
.now {
    grid-area: b;
    background-color: aqua;
    
}
.next {
    grid-area: c;
    background-color: aqua;
}
div.date {
    display: grid;
    align-self: end;
    justify-self: end;
}
div.now-label, div.next-label {
    font-weight: bold;
    font-size: 20px;
}

div.now-content, div.next-content {
    font-size: 20px;
}
.incident {
    /* size: 0 200px; */
    height: 300px;
}

.block3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    background-color: rgb(88, 142, 196);
    height: 100px;
}

div.communityBoard, div.rollCall, div.staffing {
    background-color: yellowgreen;
}
.footer {
    background-color: rgb(192, 224, 224);
}